<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>driverClassName</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUrlParam</param-name>
        <param-value>jdbc:mysql://127.0.0.1/shop_database</param-value>
    </context-param>
    <context-param>
        <param-name>dbUsernameParam</param-name>
        <param-value>webappuser</param-value>
    </context-param>
    <context-param>
        <param-name>dbPasswordParam</param-name>
        <param-value>fhHE#(@7fHF}[f/3D*</param-value>
    </context-param>
    <context-param>
        <param-name>uploads_dir</param-name>
        <param-value>C:\Users\willi\Desktop\images</param-value>
    </context-param>
    <context-param>
        <param-name>mail_username</param-name>
        <param-value>infonanobit@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>mail_password</param-name>
        <param-value>fhHE#(@7fHF}[f/3D*</param-value>
    </context-param>
    <context-param>
        <param-name>google_api_key</param-name>
        <param-value>AIzaSyBj_kOTj4iioxwJg9S0f19fs-p0rav_X6E</param-value>
    </context-param>
    <context-param>
        <param-name>google_api_map_key</param-name>
        <param-value>AIzaSyDmg6QxHuNwy_KJR5tkQghWXb9Is7Lk1RU</param-value>
    </context-param>
    <context-param>
        <param-name>lucene_index_directory</param-name>
        <param-value>C:\Users\willi\Desktop\lucene</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.webapp.listener.ApplicationCycleListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>FrontPageController</servlet-name>
        <servlet-class>it.webapp.servlet.FrontPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <!--Modify url pattern also in the FrontPageController static member-->
        <servlet-name>FrontPageController</servlet-name>
        <url-pattern>/controllers/*</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>FrontPageController</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
